/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.3rem;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
a {
  color: black;
}
a:hover,
a active,
a visited {
  color: black;
}
p,
a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #2c3e50;
}
@media (min-width: 768px) and (min-height: 768px) {
  p,
  a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.emph-text {
  color: black;
}
.highlighted-text {
  color: #e74c3c;
}
nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(236, 240, 241, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 7;
}
nav .nav-links-desktop {
  display: none;
}
footer {
  position: absolute;
  width: 100%;
  background: #2c3e50;
  padding: 10px 0;
}
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span p {
  font-size: 1.6rem;
  color: white;
}
footer span img {
  height: 40px;
}
.home {
  /* Split the screen in half */
  /* Control the left side */
  /* Control the right side */
}
.home .logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
.home .logo h2 {
  color: #e74c3c;
}
.home .logo p {
  color: #2c3e50;
}
@media (min-width: 992px) and (min-height: 992px) {
  .home .logo {
    top: 10px;
    left: 10px;
  }
  .home .logo h2 {
    font-size: 4rem;
  }
  .home .logo p {
    font-size: 3rem;
  }
}
.home .scroll-arrow {
  color: #e74c3c;
  position: absolute;
  right: 14px;
  bottom: 10px;
}
@media (min-width: 768px) {
  .home .scroll-arrow {
    right: 52%;
    bottom: 3%;
  }
}
.home .break {
  flex-basis: 15%;
}
.home .menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #2c3e50;
  border-radius: 50%;
  z-index: 2;
}
.home .menu-icon i {
  color: #ecf0f1;
}
@media (min-width: 768px) and (min-height: 768px) {
  .home .menu-icon {
    top: 20px;
    right: 20px;
  }
  .home .menu-icon i {
    font-size: 3em;
  }
}
.home .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -3;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.home .left {
  left: 0;
  background-color: #ecf0f1;
}
.home .right {
  right: 0;
  height: 100vh;
  background-image: url("../img/mountain-alps.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .button {
  padding: 8px 40px;
  font-size: larger;
  background: #e74c3c;
  color: white;
  font-weight: 1000;
}
.home .section-heading {
  width: 95vw;
  color: #2c3e50;
  z-index: 5;
  transform: translateY(20px);
}
.home .section-heading .accent-punctuation {
  color: #e74c3c;
}
@media (min-width: 576px) and (min-height: 576px) {
  .home .section-heading {
    width: 75vw;
    transform: translateY(22px);
  }
  .home .section-heading h1 {
    font-size: 8rem;
  }
}
@media (min-width: 992px) {
  .home .section-heading {
    width: 50vw;
  }
}
@media (orientation: landscape) {
  .home .welkum {
    width: 50vw;
  }
}
@media (min-width: 576px) {
  .home .welkum {
    width: 65vw;
  }
}
@media (min-width: 768px) {
  .home .welkum {
    width: 55vw;
    transform: translateY(25px);
  }
}
@media (min-width: 992px) {
  .home .welkum {
    width: 40vw;
  }
}
.home .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) and (min-height: 576px) {
  .home .container {
    width: 75vw;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .home .container {
    width: 50vw;
    margin: 0 auto;
  }
}
.home .text-box-styling {
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.home .welcome-textbox {
  width: 80%;
  padding: 15px;
}
@media (min-width: 576px) {
  .home .welcome-textbox {
    width: 60%;
  }
}
@media (min-width: 768px) and (min-height: 768px) {
  .home #explore {
    height: 90vh;
  }
}
@media (min-width: 992px) {
  .home #explore {
    width: 90vw;
  }
}
.home .exp-lore {
  width: 95vw;
}
.home .grid {
  height: 70%;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 0;
}
.home .grid h3 {
  font-weight: 1000;
}
@media (orientation: landscape) {
  .home .grid {
    width: 90%;
  }
}
@media (min-width: 576px) and (min-height: 576px) {
  .home .grid {
    height: 50%;
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .home .grid {
    padding: 2%;
    height: 30%;
  }
}
.home .grid .grid-item {
  display: flex;
  width: 100%;
}
@media (orientation: landscape) {
  .home .grid .grid-item {
    width: 50%;
  }
}
@media (min-width: 576px) and (min-height: 576px) {
  .home .grid .grid-item {
    width: 50%;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .home .grid .grid-item i {
    font-size: 5em;
  }
}
@media (min-width: 992px) {
  .home .grid .grid-item {
    width: 25%;
    height: 100%;
  }
}
.home .grid .grid-item .icon-container {
  height: auto;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .grid .grid-item .icon-container i {
  color: #e74c3c;
}
.home .grid .grid-item .icon-container i:hover {
  color: #FF6C5C;
  font-size: 9rem;
}
.home .grid .grid-item .grid-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2c3e50;
}
@media (min-width: 576px) and (min-height: 576px) {
  .home .grid .grid-item .grid-text {
    justify-content: flex-start;
  }
  .home .grid .grid-item .grid-text h3 {
    text-align: center;
  }
  .home .grid .grid-item .grid-text p {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .home .grid .grid-item .grid-text {
    height: 40%;
  }
}
.home #about {
  height: 2000px;
}
.home #about .about-box {
  padding: 25px 0 15px 5px;
  display: flex;
  justify-content: space-between;
}
.home #about .about-box .timeline-container {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
}
.home #about .about-box .timeline-container .time-line {
  width: 3%;
  border-left: 2px solid #e74c3c;
  border-top: 2px solid #e74c3c;
}
.home #about .about-box .timeline-container .timeline-text {
  width: 97%;
  padding-left: 5px;
}
.home #about .about-box .about-stats {
  height: 50vh;
  width: 45%;
  padding: 10px 5px 10px 10px;
  border-top-right-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-position: sticky;
  position: sticky;
  top: 25%;
}
.home #about .about-box .about-stats i {
  width: 20px;
  text-align: center;
}
.home #about .about-box .about-stats .fa-heart {
  color: #e74c3c;
}
@media (min-width: 576px) {
  .home #about .about-box .about-stats {
    height: 200px;
    border-top-right-radius: 15px;
  }
}
@media (min-height: 576px) {
  .home #about .about-box .about-stats {
    height: 250px;
  }
}
.home #work {
  height: 200vh;
}
@media (min-width: 768px) and (min-height: 768px) {
  .home #work {
    height: 120vh;
  }
}
.home #work .portfolio {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.home #work .portfolio .portfolio-piece {
  height: 90vh;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home #work .portfolio .portfolio-piece p {
  text-align: center;
}
.home #work .portfolio .portfolio-piece h2 {
  text-align: center;
  font-size: 2.5rem;
}
.home #work .portfolio .portfolio-piece span i {
  color: #2c3e50;
}
.home #work .portfolio .portfolio-piece i {
  text-align: center;
}
.home #work .portfolio .portfolio-piece .work-links {
  display: flex;
  justify-content: space-around;
}
@media (orientation: landscape) {
  .home #work .portfolio .portfolio-piece .work-links {
    justify-content: flex-end;
  }
  .home #work .portfolio .portfolio-piece .work-links i {
    width: 15%;
  }
}
@media (min-width: 768px) and (min-height: 768px) {
  .home #work .portfolio .portfolio-piece {
    height: 50vh;
  }
}
.home #work .portfolio .odd {
  background: white;
}
.home #work .portfolio .odd i {
  color: #3498db;
}
.home #work .portfolio .even {
  background: #ecf0f1;
}
.home #work .portfolio .even h2 {
  color: black;
}
.home #work .portfolio .even i {
  color: #2980b9;
}
.home #work .portfolio .even p {
  color: #2c3e50;
}
.home #contact {
  height: 55vh;
}
@media (orientation: landscape) {
  .home #contact {
    height: 100vh;
  }
}
@media (min-height: 576px) {
  .home #contact {
    height: 40vh;
  }
}
@media (min-height: 768px) {
  .home #contact {
    height: 35vh;
  }
}
@media (min-width: 768px) and (min-height: 768px) {
  .home #contact {
    width: 50%;
    height: 40vh;
  }
  .home #contact h5 {
    font-size: 1.5rem;
  }
  .home #contact a,
  .home #contact p {
    font-size: 1.5rem;
  }
  .home #contact i {
    font-size: 4rem;
  }
}
@media (orientation: landscape) {
  .home #contact .contakt {
    width: 50vw;
  }
}
.home #contact .contact-box {
  height: 90%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (orientation: landscape) {
  .home #contact .contact-box {
    width: 50vw;
  }
}
@media (min-width: 576px) {
  .home #contact .contact-box {
    width: 60vw;
  }
}
@media (min-width: 768px) {
  .home #contact .contact-box {
    width: 40vw;
  }
}
.home #contact .contact-box .individual-contact-info {
  height: 25%;
  display: flex;
  flex-direction: row-reverse;
}
.home #contact .contact-box .individual-contact-info .contact-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home #contact .contact-box .individual-contact-info .contact-text a {
  color: #e74c3c;
}
.home #contact .contact-box .individual-contact-info .contact-text span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home #contact .contact-box .individual-contact-info .contact-text span .social-icon {
  width: 15%;
  text-align: center;
}
