/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
a {
  color: black;
}
a:hover,
a active,
a visited {
  color: black;
}
p {
  font-size: 1.4rem;
  line-height: 2rem;
}
nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(236, 240, 241, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 7;
}
nav .nav-links-desktop {
  display: none;
}
footer {
  width: 100%;
  color: white;
  background: black;
  padding: 20px 0;
}
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span p {
  font-size: 1.6rem;
  color: white;
}
footer span img {
  height: 40px;
}
.home {
  /* Split the screen in half */
  /* Control the left side */
  /* Control the right side */
}
.home .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.home .logo h2 {
  color: #E74C3C;
}
.home .logo p {
  color: #2C3E50;
}
.home .fa-long-arrow-alt-down {
  color: #E74C3C;
  position: absolute;
  left: 5%;
  bottom: 3%;
}
.home .menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #2C3E50;
  border-radius: 50%;
  z-index: 2;
}
.home .menu-icon i {
  color: #ECF0F1;
}
.home .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -3;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.home .left {
  left: 0;
  background-color: #ECF0F1;
}
.home .right {
  right: 0;
  height: 100vh;
  background-image: url("/img/mountain-alps.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.home .section-heading {
  width: 100%;
  color: #2C3E50;
  padding-left: 5px;
  transform: translateY(15px);
  z-index: 5;
}
.home .section-heading .accent-punctuation {
  color: #E74C3C;
}
.home .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .container .frosted {
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 25%, rgba(255, 255, 255, 0.7) 75%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
}
.home .container .welcome-textbox {
  width: 80%;
  padding: 20px;
}
.home .grid {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  z-index: 0;
}
.home .grid h3 {
  font-weight: 1000;
}
.home .grid .grid-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home .grid .grid-item .icon-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .grid .grid-item .icon-container i {
  color: #E74C3C;
}
.home .grid .grid-item .grid-text {
  width: 60%;
  color: #3b3939;
}
.home #about {
  height: 100vh;
  flex-direction: column;
}
.home #about .about-box {
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 10px;
}
.home #about .about-box .bio-box {
  margin: 10px 0 10px;
}
.home #about .about-box .bio-box i {
  width: 18px;
  text-align: center;
  color: #E74C3C;
}
.home #about .border-accent {
  width: 25%;
  margin: 0 auto;
  border-bottom: 2px solid #E74C3C;
}
