// Footer Styles
footer {
  width: 100%;
  color: white;
  background: black;
  padding: 20px 0;

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.6rem;
      color: white;
    }

    img {
      height: 40px;
    }
  }
}
