// Home Page Styles here

.home {
  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    h2 {
      color: @prim;
    }
    p {
      color: @dark;
    }
  }

  // This code positions the scroll arrow icon
  .scroll-arrow {
    color: @prim;
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  // This is the code for the floating button in the top right corner
  .menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: @dark;
    border-radius: 50%;
    z-index: 2;

    i {
      color: @light;
    }
  }

  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -3;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: @light;
  }

  /* Control the right side */
  .right {
    right: 0;
    height: 100vh;
    background-image: url("/img/mountain-alps.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .button {
    padding: 8px 24px;
    font-size: larger;
    border-radius: 5px;
    background: @prim;
    color: @light;
    font-weight: 1000;
  }

  // This code is for the heading of each section that overlaps the content of the section in question, accenting the heading with a colorful period
  .section-heading {
    width: 100%;
    color: @dark;
    transform: translateY(15px);
    z-index: 5;

    .accent-punctuation {
      color: @prim;
    }
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .frosted {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.7) 75%,
      rgba(255, 255, 255, 0.4) 100%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);

    backdrop-filter: blur(8px);
  }

  .welcome-textbox {
    width: 80%;
    padding: 15px;
    border-bottom-right-radius: 10px;
  }

  // This code controls the
  .grid {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    z-index: 0;

    h3 {
      font-weight: 1000;
    }

    .grid-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      .icon-container {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: @prim;
        }
      }

      .grid-text {
        width: 60%;
        color: @dark;
      }
    }
  }

  #about {
    height: 100vh;
    flex-direction: column;
    .about-box {
      width: 90vw;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      border-bottom-right-radius: 10px;
      .bio-box {
        margin: 15px;
        i {
          width: 18px;
          text-align: center;
          color: @prim;
        }
      }
    }

    .border-accent {
      width: 25%;
      margin: 0 auto;
      border-bottom: 1px solid @prim;
    }

    .button-box {
      display: flex;
      justify-content: flex-end;
    }
  }

  #contact {
    height: 70vh;
    .contact-box {
      height: 90%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      .individual-contact-info {
        height: 25%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid white;
        div {
          width: 50%;
        }
        .contact-category-title {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .contact-category-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          a {
            text-decoration: underline;
          }

          span {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div {
              width: 30%;
            }
          }
        }
      }
    }
  }
}
