// Home Page Styles here

.home {
  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    h2 {
      color: @prim;
    }
    p {
      color: @dark;
    }
  }

  // This code positions the scroll arrow icon
  .scroll-arrow {
    color: @prim;
    position: absolute;
    right: 5%;
    bottom: 3%;
  }

  // This is the code for the floating button in the top right corner
  .menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: @dark;
    border-radius: 50%;
    z-index: 2;

    i {
      color: @light;
    }
  }

  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -3;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: @light;
  }

  /* Control the right side */
  .right {
    right: 0;
    height: 100vh;
    background-color: @prim;
    // background-image: url("../img/mountain-alps.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: scroll;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
  }

  // Here is the code for the red button
  .button {
    padding: 8px 24px;
    font-size: larger;
    border-radius: 5px;
    background: @prim;
    color: white;
    font-weight: 1000;
  }

  // This code is for the heading of each section that overlaps the content of the section in question, accenting the heading with a colorful period
  .section-heading {
    width: 95%;
    color: @dark;
    transform: translateY(20px);
    z-index: 5;

    .accent-punctuation {
      color: @prim;
    }
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .frosted {
    background: white;
    // background: linear-gradient(
    //   90deg,
    //   rgba(255, 255, 255, 0.5) 0%,
    //   rgba(255, 255, 255, 0.6) 25%,
    //   rgba(255, 255, 255, 0.6) 75%,
    //   rgba(255, 255, 255, 0.5) 100%
    // );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  .welcome-textbox {
    width: 80%;
    padding: 15px;
    border-bottom-right-radius: 10px;
  }

  // This code controls the grid class (EXPLORE. section)
  .grid {
    height: 70%;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    z-index: 0;

    @media (orientation: landscape) {
      flex-direction: row;
      flex-wrap: wrap;
      .grid-item {
        width: 50%;
        display: flex;
        align-items: center;
      }
    }

    h3 {
      font-weight: 1000;
    }

    // This code controls the individual items within the grid class
    .grid-item {
      display: flex;
      flex-direction: row;
      .icon-container {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: @prim;
        }
      }

      .grid-text {
        width: 60%;
        color: @dark;
      }
    }
  }

  // This code is for the About (BIO.) section
  // The goal for this section is to reveal a few details about me and my work history
  // This will link to a more in-depth About page
  // Buttons at the bottom should be for Resume AND Learn More
  #about {
    height: 1500px;
    .about-box {
      padding: 25px 0 15px 5px;
      display: flex;
      justify-content: space-between;

      .timeline-container {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        .time-line {
          width: 5%;
          border-left: 2px solid @prim;
          border-top: 2px solid @prim;
        }
        .timeline-text {
          width: 95%;
          padding-left: 5px;
        }
      }
      .about-stats {
        height: 65vh;
        width: 45%;
        padding: 10px 5px 10px 10px;
        // border-top-left-radius: 15px;
        // border-bottom-left-radius: 15px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        -webkit-position: sticky;
        position: sticky;
        top: 65px;

        i {
          width: 20px;
          text-align: center;
        }

        .fa-heart {
          color: @prim;
        }
      }
    }
  }

  // Here is the code for the portfolio (WORK.) section
  // The goal with this section is to highlight a few of the projects I've worked on
  // Keep design simple and in line with the rest of the page
  // Create a separate page that lists all of my work in aesthetically pleasing grid
  #work {
    height: 200vh;
    margin: 20px 0 40px;
    .portfolio {
      width: 90vw;
      margin: 0 auto;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      .portfolio-piece {
        height: 90vh;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p {
          text-align: center;
        }

        h2 {
          text-align: center;
          font-size: 2.5rem;
        }

        i {
          text-align: center;
        }

        span {
          display: flex;
          justify-content: space-around;

          @media (orientation: landscape) {
            justify-content: flex-end;
            
            i {
              width: 15%;
            }
          }
        }
      }

      .odd {
        background: @light;

        i {
          color: @sec;
        }

        span {
          i {
            color: @dark;
          }
        }
      }

      .even {
        background: @dark;
        h2 {
          color: white;
        }

        i {
          color: @light;
        }

        p {
          color: @light;
        }

        span {
          i {
            color: @light;
          }
        }
      }
    }
  }

  // Here is the code for the contact (CONTACT.) section
  #contact {
    height: 75vh;
    .contact-box {
      height: 90%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      .individual-contact-info {
        height: 25%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid @light;
        .contact-category-title {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .contact-category-text {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          a {
            color: @prim;
          }

          span {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .social-icon {
              width: 33%;
              text-align: center;
              @media (orientation: landscape) {
                width: 20%;
              }
            }
          }
        }
      }
    }

    @media (orientation: landscape) {
      height: 100vh;
    }
  }
}
