// Variables in here

// Color assignments 
@font-color: @dark;
@button-bg: @sec;
@footer-bg: @tert;

// Colors
@dark: #2c3e50; // 44, 62, 80
@prim: #E74C3C; // 231. 76, 60
// @prim: #F23030; // 231. 76, 60
@light: #ECF0F1; // 236, 240, 241
@sec: #3498DB; // 52, 152, 219
@tert: #2980B9; // 41, 128, 185

// Media Query Break Points
@tablet-width: ~'(min-width: 570px)';
@large-phone-height: ~'(min-height: )';
@SD-display: ~'(min-width: 720px)';
@HD-display: ~'(min-width: 1080px)';